@import url('lesshat.less');

@color1: #fff;
@color2: #000;

@-webkit-keyframes promoFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes promoFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes promoFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes promoFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes promoFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes promoFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes promoFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes promoFadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.promoOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9990;
  background: @color2;
  .opacity(.7);
  pointer-events: all;
}

.promoContainer {
  position: fixed;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9991;
  padding: 48px 0;
  text-align: center;
  box-sizing: border-box;
  * {
    color: @color1;
    text-decoration: none;
  }
  a {
    background: transparent;
  }
  &.interstitial {
    * {
      color: @color2;
    }
    .promoOverlay {
      background: @color1;
      .opacity(1);
    }
    //    .promoContentWrap {
    //      margin-top: 48px;
    //    }
    .interstitialText {
      z-index: 9996;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      pointer-events: all;
    }
    .interstitialSkipText {
      text-decoration: underline;
    }
    .promoCaption {
      color: @color1;
    }
    .promoPager.progress {
      a {
        span {
          background: @color2;
        }
        &.active ~ a {
          span {
            .opacity(.25);
          }
        }
        &:hover {
          ~ a span {
          .opacity(0.25) !important;
          }
        }
      }
      &:hover {
        a span {
          background: @color2 !important;
          .opacity(1) !important;
        }
      }
    }
    .promoCpption {
      color: @color1;
    }
  }
  &.fullscreen {
    padding: 0;
    .promoContentWrap, .promoSlidesWrap {
      top: 0;
      left: 0;
      right: 0;
      margin: 0;
      padding: 0;
      height: 100%;
      max-width: 100% !important;
      max-height: 100% !important;
    }
    .promoImage, .promoLink {
      height: 100% !important;
      width: auto !important;
      max-width: none;
    }
    .slideContent {
      height: 100%;
      &:before {
        content: none;
      }
      .slideContentInner {
        height: 100% !important;
      }
    }
    .actionButtons {
      margin: 0;
      position: absolute;
      bottom: 2.5%;
      top: auto;
      &.top {
        bottom: auto;
        top: 2.5%;
      }
    }
    .promoPrev, .promoNext {
      width: 120px;
    }
    .promoPrev {
      left: 0;
    }
    .promoNext {
      right: 0;
    }
    .promoClose {
      right: 48px;
      top: 2.5%;
      bottom: auto;
    }
    .promoCounter {
      top: 2.5%;
      bottom: auto;
    }
    .promoPager {
      top: 2.5%;
      bottom: auto;
      &.bottom {
        top: auto;
        bottom: 2.5%;
      }
      &.progress {
        a span {
          background: @color1;
        }
        a.active ~ a span {
          background: @color2;
        }
      }
      &.interstitial * {
        color: @color2;
      }
    }
  }
  &.noTransition {
    .opacity(1);
  }
  &.ie8 {
    .opacity(1);
  }
}

.promoContent {
  .ratioPlaceholder {
    z-index: -20;
    visibility: hidden;
  }
  //    height: 100%;
  max-width: 100%;
  max-height: 100%;
  //    position: relative;
  //  top: 48px;
  //  bottom: 48px;
  //  left: 48px;
  //  right: 48px;
  display: block;
  //  z-index: 9992;
  pointer-events: all;
  margin: 0 auto;
  a:focus {
    background: transparent;
    outline: 0;
  }
  .promoSlidesWrap {
    //    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 48px;
    bottom: 48px;
    right: 48px;
    left: 48px;
    .promoSlides {
      list-style: none;
      margin: 0;
      padding: 0;
      position: relative;
      width: 400%;
      left: -100%;
      height: 100%;
      .promoSlide {
        //        .transform-origin(center);
        .transform(translateZ(0));
        //        .transition(width 0.8s ease-in-out);
        .transition-property(width);
        //        width: 100%;
        //          height: 100%;
        overflow: hidden;
        float: left;
        display: block;
        position: relative;
        text-align: center;
        visibility: hidden;
        &:first-child {
          width: 1px;
          margin-left: -1px;
          + .promoSlide, + .promoSlide + .promoSlide, + .promoSlide + .promoSlide + .promoSlide {
            width: 25%;
            visibility: visible;
            height: 100%;
          }
          + .promoSlide + .promoSlide + .promoSlide + .promoSlide {
            height: 0;
          }
          + .promoSlide + .promoSlide {
            .transition(none);
          }
        }
        .slideContent {
          max-height: 100%;
          height: 100%;
          &:before {
            content: "";
            display: inline-block;
            height: 100%;
            vertical-align: middle;
          }
          .slideContentInner {
            //            width: auto;
            //            height: auto;
            //            height: 100%;
            display: inline-block;
            max-width: 100%;
            max-height: 100%;
            position: relative;
            overflow: hidden;
            vertical-align: middle;
            .promoCaption {
              min-width: 100%;
              box-sizing: border-box;
              position: absolute;
              bottom: 0;
              padding: 20px 24px;
              margin: 0;
              background: #777;
              background: rgba(0, 0, 0, 0.5);
              line-height: 1.5;
              &.top {
                top: 0;
                bottom: auto;
              }
            }
            .promoImage, .promoLink {
              //              height: 100%;
              position: relative;
              display: inline-block;
              max-width: 100%;
              max-height: 100%;
              width: auto;
              margin: 0 auto;
            }
            .promoImage {
              vertical-align: middle;
              border: none;
              //                display: block;
            }
          }
        }
      }
    }
  }
}

.promoContentWrap {
  //  height: 100%;
  max-height: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  padding: 48px;
  z-index: 9992;
  &.embed {
    * {
      color: @color2;
    }
    //    .ratioPlaceholder {
    //      display: none;
    //    }
    //    .promoSlide {
    //      height: auto !important;
    //    }
    //    .promoContent {
    //      position: relative;
    //    }
    //    margin: 20px;
    //    clear: both;
    //    position: relative;
    //    top: 0;
    //    left: auto;
    //    right: auto;
    //    bottom: auto;
    z-index: 9980;
    .promoCaption {
      color: @color1;
    }
    //    .promoSlidesWrap {
    //      max-width: none;
    //      height: 100%;
    //    }
    .promoLink[href="#close"] {
      cursor: default;
    }
  }
  &.stretch {
    .promoLink, .promoImage, .slideContentInner {
      width: 100% !important;
      height: 100% !important;
    }
  }
  &.hover {
    &.counter .promoCounter {
      .opacity(0);
      //      .transition(opacity 0.25s);
    }
    &.close .promoClose {
      .opacity(0);
    }
    &.arrows {
      .promoNext {
        .opacity(0);
      }
      .promoPrev {
        .opacity(0);
      }
    }
    &.pager .promoPager {
      .opacity(0);
      //      .transition(opacity 0.25s);
    }
    &:hover {
      .promoCounter {
        .opacity(1);
      }
      .promoClose {
        .opacity(.75);
      }
      .promoNext {
        .opacity(.5);
      }
      .promoPrev {
        .opacity(.5);
      }
      .promoPager {
        .opacity(1);
      }
    }
  }
  &.vertical .promoSlides {
    top: 0;
    left: 0;
    width: 100%;
    height: 400%;
    .promoSlide {
      top: -25%;
      width: 100%;
      float: none;
      height: auto;
      .transition-property(height);
      //      .transform-origin(center);
      &:first-child {
        width: 100%;
        height: 0;
        + .promoSlide, + .promoSlide + .promoSlide, + .promoSlide + .promoSlide + .promoSlide {
          width: 100%;
          left: 0;
          height: 25%;
        }
      }
      .slideContent {
        width: 100%;
        display: inline-block;
        position: relative;
      }
      .promoLink {
        width: 100%;
      }
    }
  }
  &.fade .promoSlides {
    left: 0;
    .promoSlide {
      z-index: 94;
      .opacity(0);
      .transition-property(opacity) !important;
      &:first-child {
        left: 25%;
        .transition(none);
        + .promoSlide {
          .opacity(0);
          + .promoSlide {
            z-index: 97;
            left: -25%;
            .opacity(1);
            + .promoSlide {
              left: -50%;
              .opacity(0);
            }
          }
        }
      }
    }
  }
  .actionButtons {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 8px 0;
    text-align: center;
    z-index: 9997;
    margin-top: -48px;
    &.top {
      top: 0;
      margin: 0;
    }
    a {
      display: inline-block;
      text-decoration: underline;
      padding: 4px 8px;
      margin: 0 5px;
    }
  }

  .promoNext, .promoPrev {
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    padding: 0;
    text-align: center;
    height: 100%;
    display: inline-block;
    text-decoration: none;
    .opacity(.5);
    //    .transition(opacity 0.25s);
    z-index: 9997;
    .transform(translateZ(0));
    &:hover {
      .opacity(1) !important;
    }
    span {
      font: normal 64px/0 sans-serif;
      display: inline-block;
      position: absolute;
      left: 0;
      top: 48.7%;
      width: 100%;
    }
  }

  .promoNext {
    left: auto;
    right: 0;
    &.inside {
      right: 48px;
    }
  }

  .promoPrev.inside {
    left: 48px;
  }

  .promoPager {
    position: absolute;
    top: 0;
    left: 20%;
    width: 60%;
    text-align: center;
    z-index: 9997;
    a {
      display: inline-block;
      position: relative;
      padding: 0 6px;
      margin: 0;
      .opacity(.5);
      font: normal 36px/48px sans-serif;
      //      .transition(opacity 0.8s ease-out);
      .transform(translateZ(0));
      text-decoration: none;
      &.active, &.active:hover, &:hover {
        .opacity(1);
        //        .transition-duration(0.5s);
      }
    }
    &.thumb a {
      padding: 0;
      font: normal 32px/48px sans-serif;
      top: -4px;
      .opacity(1);
      img {
        width: auto;
        height: 32px;
        margin-top: 8px;
        border: 1px solid transparent;
      }
      &.active img {
        border-color: @color1;
      }
    }
    &.numeric a {
      font: normal 17px/48px sans-serif;
      position: relative;
      padding-top: 0;
      padding-bottom: 0;
    }
    &.progress {
      display: table;
      width: 300px;
      left: 50%;
      margin-left: -150px;
      a {
        padding: 0 1px;
        display: table-cell;
        .opacity(1);
        height: 48px;
        span {
          display: block;
          height: 6px;
          background: @color1;
          margin-top: 20px;
        }
        &.active ~ a {
          .opacity(.66);
          span {
            background: @color2;
          }
        }
        &:hover {
          ~ a span {
            background: @color2 !important;
          }
        }
      }
      &:hover {
        a span {
          background: @color1 !important;
        }
      }
    }
    &.inside {
      top: 48px;
      bottom: auto;
      &.bottom {
        top: auto;
        bottom: 48px;
      }
    }
    &.bottom {
      top: auto;
      bottom: 0;
    }
  }

  .promoClose {
    position: absolute;
    top: 0;
    right: 32px;
    display: block;
    text-align: right;
    padding: 0 16px;
    z-index: 9992;
    font: normal 17px/48px sans-serif;
    .opacity(.75);
    //    .transition(opacity 0.25s);
    z-index: 9998;
    &:hover {
      .opacity(1) !important;
    }
    &.inside {
      top: 48px;
      right: 54px;
    }
  }
  .promoCounter {
    position: absolute;
    top: 0;
    left: 48px;
    margin: 0;
    z-index: 9997;
    font: normal 15px/48px sans-serif;
    display: inline-block;
    .opacity(1);
    &.inside {
      top: 48px;
      left: 64px;
    }
  }
  &.single {
    .promoSlides {
      width: 100%;
      left: 0;
      .promoSlide {
        width: 100% !important;
        visibility: visible !important;
        .transition(none);
        margin: 0 auto;
      }
    }
  }
  .promoHidden {
    .opacity(0) !important;
    pointer-events: none;
  }
  &.ie8 {
    .slideContentInner {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
    }
    .promoContainer, .promoSlide {
      .opacity(1);
    }
    .promoLink {
      display: block;
    }
  }
}

.seekAnim .promoSlide {
  .transition(none) !important;
}

.fadeIn {
  .animation(promoFadeIn 0.25s linear 0.2s 1 forwards);
  .opacity(0);
}

.fadeOut {
  .animation(promoFadeOut 0.25s linear);
}